In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "user_id" : np.arange(1,4).repeat([3,5,4]),
    "movie_id" : np.array([101,102,103,101,105,106,104,103,102,101,106,104]),
    "rating" : np.random.choice([1,2,3,4,5], 12)
}

# Content based:

In [3]:
data

{'user_id': array([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3]),
 'movie_id': array([101, 102, 103, 101, 105, 106, 104, 103, 102, 101, 106, 104]),
 'rating': array([1, 5, 1, 2, 2, 5, 4, 5, 2, 4, 4, 1])}

In [4]:
df = pd.DataFrame(data)
df

    user_id  movie_id  rating
0         1       101       1
1         1       102       5
2         1       103       1
3         2       101       2
4         2       105       2
5         2       106       5
6         2       104       4
7         2       103       5
8         3       102       2
9         3       101       4
10        3       106       4
11        3       104       1

In [5]:
movie_matrix = pd.pivot_table(df, columns="movie_id", index="user_id", values="rating",
                             fill_value=0)
movie_matrix

movie_id  101  102  103  104  105  106
user_id
1           1    5    1    0    0    0
2           2    0    5    4    2    5
3           4    2    0    1    0    4

In [6]:
movie_corr = movie_matrix.corr(method="pearson")

In [7]:
movie_id = 106

In [8]:
similar_movie = movie_corr[movie_id]

In [9]:
similar_movie

movie_id
101    0.618590
102   -0.976221
103    0.500000
104    0.817057
105    0.654654
106    1.000000
Name: 106, dtype: float64

# User based recommendation:

In [10]:
user_matrix = pd.pivot_table(df, columns="user_id", index="movie_id", values="rating",
                             fill_value=0)
user_matrix

user_id   1  2  3
movie_id
101       1  2  4
102       5  0  2
103       1  5  0
104       0  4  1
105       0  2  0
106       0  5  4

In [11]:
user_corr = user_matrix.corr(method="pearson")

In [12]:
user_id = 1

In [13]:
similar_user = user_corr[user_id]

In [14]:
similar_user

user_id
1    1.000000
2   -0.721356
3    0.065524
Name: 1, dtype: float64