# Resampling Method :

In [1]:
# Import Necessary library :
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

from sklearn.datasets import make_classification
from sklearn.utils import resample

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Make a data :
data = make_classification(n_samples=1000, n_classes=2,
                          weights=[0.8,0.2], random_state=12)

In [4]:
data

(array([[-1.6124653 ,  0.26443824,  0.33330429, ..., -0.38091651,
          1.36174934,  1.82048726],
        [-0.35755989, -0.73107071,  0.90364092, ...,  0.16097038,
          0.10838577, -0.7469733 ],
        [ 0.84141272,  0.12296045, -1.93748587, ...,  0.42257386,
         -1.56522132, -0.96002584],
        ...,
        [ 0.44983372,  0.74636042, -0.5896496 , ...,  0.77896859,
          0.88005713,  0.93028138],
        [ 1.0459967 , -0.55682636, -0.46962062, ...,  0.67892803,
          0.2887792 , -1.02777788],
        [ 0.75186101,  1.25948268,  1.73333929, ...,  0.32308346,
         -0.91641878, -0.81596487]]),
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
        0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
        1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0]))

In [5]:
# Create a Dataframe :
df = pd.DataFrame(data[0], columns=[f"feature_{i}"for i in range(len(data[0][0]))])

In [6]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
0,-1.612465,0.264438,0.333304,1.375885,1.977050,-0.900312,-0.611864,-1.051278,0.548506,2.032988,-0.064003,-0.116897,0.302634,0.383193,0.197544,-0.163077,1.168480,-0.380917,1.361749,1.820487
1,-0.357560,-0.731071,0.903641,1.717299,1.078709,-1.185329,0.041516,2.277788,-0.949719,0.838062,0.422079,-0.519009,-0.093302,-0.708818,0.341124,-1.417740,-0.615161,0.160970,0.108386,-0.746973
2,0.841413,0.122960,-1.937486,1.641745,1.081688,-0.429011,-1.572892,-1.324811,1.034339,-0.099933,0.489765,-0.227374,-0.666077,0.653780,0.168031,1.003992,-1.531855,0.422574,-1.565221,-0.960026
3,-0.312723,0.729853,-0.240966,0.447387,0.959414,-1.001954,-0.707519,1.143123,-0.280732,0.205374,-1.286505,0.255959,-1.754830,0.852234,0.287869,-0.867535,-0.245042,0.132135,0.298528,0.062950
4,0.136736,1.004881,-0.853469,-1.769702,-0.082817,-0.243119,-0.676821,0.639146,0.603030,-1.613982,-1.562745,0.361242,-0.751820,-0.306421,0.079610,0.707241,1.407700,0.111849,0.207281,0.947129

In [7]:
# Add target column :
df["target"] = data[1]

In [8]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,target
0,-1.612465,0.264438,0.333304,1.375885,1.977050,-0.900312,-0.611864,-1.051278,0.548506,2.032988,...,-0.116897,0.302634,0.383193,0.197544,-0.163077,1.168480,-0.380917,1.361749,1.820487,0
1,-0.357560,-0.731071,0.903641,1.717299,1.078709,-1.185329,0.041516,2.277788,-0.949719,0.838062,...,-0.519009,-0.093302,-0.708818,0.341124,-1.417740,-0.615161,0.160970,0.108386,-0.746973,0
2,0.841413,0.122960,-1.937486,1.641745,1.081688,-0.429011,-1.572892,-1.324811,1.034339,-0.099933,...,-0.227374,-0.666077,0.653780,0.168031,1.003992,-1.531855,0.422574,-1.565221,-0.960026,0
3,-0.312723,0.729853,-0.240966,0.447387,0.959414,-1.001954,-0.707519,1.143123,-0.280732,0.205374,...,0.255959,-1.754830,0.852234,0.287869,-0.867535,-0.245042,0.132135,0.298528,0.062950,0
4,0.136736,1.004881,-0.853469,-1.769702,-0.082817,-0.243119,-0.676821,0.639146,0.603030,-1.613982,...,0.361242,-0.751820,-0.306421,0.079610,0.707241,1.407700,0.111849,0.207281,0.947129,0

In [9]:
df["target"].value_counts()

target
0    796
1    204
Name: count, dtype: int64

In [10]:
# Check majority :
majority = df[df["target"]==0]
majority.shape

(796, 21)

In [11]:
# Check minority :
minority = df[df["target"]==1]
minority.shape

(204, 21)

In [12]:
majority.drop("target", axis=1, inplace=True)
minority.drop("target", axis=1, inplace=True)

# Downsampling :

In [13]:
Downsample = resample(majority, 
                     replace=False, n_samples=len(minority), random_state=12)

In [14]:
down_df = pd.concat([minority, Downsample])

In [15]:
down_df.shape

(408, 20)

In [16]:
down_df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
20,-0.466840,-2.270052,-1.030279,-0.336909,-0.361238,-0.702492,-1.024108,-0.867906,0.151293,-0.098982,-0.228376,1.866642,-1.155842,0.118832,0.190466,0.452387,-1.040474,-0.000265,-2.007634,-1.972787
37,-1.457278,-0.764285,0.617085,0.119557,-1.508632,-1.273498,-0.159093,-1.472422,-0.811393,-0.929901,0.844141,0.403939,-1.219045,1.441566,0.317235,-2.130405,-1.062793,-0.229757,-0.812369,0.722523
38,-0.911937,0.005869,0.575320,-0.343086,0.056120,0.915814,-1.545716,0.693562,1.192388,-0.053824,1.491589,2.532974,-1.176320,0.717253,-0.318106,0.128426,1.880189,-0.570253,-0.460012,0.177259
54,1.809530,0.177617,1.533005,-0.035722,-0.040268,2.055080,-1.319018,0.794402,0.548268,0.212692,-0.615032,-0.712087,-1.183427,-0.026120,-0.536817,-0.245541,-0.724868,0.167328,0.211603,0.293775
55,-0.250157,0.860066,0.574406,0.297684,0.923507,2.644030,-0.202029,-0.020708,-0.169579,0.310205,1.985727,-0.435639,1.773703,0.905439,-0.809018,0.224119,1.590364,-0.752241,1.699666,1.280668

# Upsampling :

In [17]:
upsample = resample(minority, 
                     replace=True, n_samples=len(majority), random_state=12)

In [18]:
up_df = pd.concat([majority, upsample])

In [19]:
up_df.shape

(1592, 20)

In [20]:
up_df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
0,-1.612465,0.264438,0.333304,1.375885,1.977050,-0.900312,-0.611864,-1.051278,0.548506,2.032988,-0.064003,-0.116897,0.302634,0.383193,0.197544,-0.163077,1.168480,-0.380917,1.361749,1.820487
1,-0.357560,-0.731071,0.903641,1.717299,1.078709,-1.185329,0.041516,2.277788,-0.949719,0.838062,0.422079,-0.519009,-0.093302,-0.708818,0.341124,-1.417740,-0.615161,0.160970,0.108386,-0.746973
2,0.841413,0.122960,-1.937486,1.641745,1.081688,-0.429011,-1.572892,-1.324811,1.034339,-0.099933,0.489765,-0.227374,-0.666077,0.653780,0.168031,1.003992,-1.531855,0.422574,-1.565221,-0.960026
3,-0.312723,0.729853,-0.240966,0.447387,0.959414,-1.001954,-0.707519,1.143123,-0.280732,0.205374,-1.286505,0.255959,-1.754830,0.852234,0.287869,-0.867535,-0.245042,0.132135,0.298528,0.062950
4,0.136736,1.004881,-0.853469,-1.769702,-0.082817,-0.243119,-0.676821,0.639146,0.603030,-1.613982,-1.562745,0.361242,-0.751820,-0.306421,0.079610,0.707241,1.407700,0.111849,0.207281,0.947129

In [21]:
df.shape

(1000, 21)