# AdBoost Implemenatation. :

In [1]:
# Import Necessary library :
import pandas as pd

from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
# Import warnings :
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Load the datasets :
df = pd.read_csv("D:\Dataset files_ML/income_evaluation.csv")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Drop unnecessary features :
df.drop([' workclass',' education',' marital_status',' occupation',' relationship',' race',' sex',' native_country'], axis=1 ,inplace=True)

In [5]:
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income
0,39,77516,13,2174,0,40,<=50K
1,50,83311,13,0,0,13,<=50K
2,38,215646,9,0,0,40,<=50K
3,53,234721,7,0,0,40,<=50K
4,28,338409,13,0,0,40,<=50K

In [6]:
df.columns

Index(['age', ' fnlwgt', ' education_num', ' capital_gain', ' capital_loss',
       ' hours_per_week', ' income'],
      dtype='object')

In [7]:
# rename a columns as renmove extra spaces :
df.rename(columns={'age':'age', ' fnlwgt':'fnlwgt', ' education_num':'education_num',
                  ' capital_gain':"capital_gain", ' capital_loss':'capital_loss',
                  ' hours_per_week':"hours_per_week", ' income':"income"}, inplace=True)

In [8]:
df.columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   fnlwgt          32561 non-null  int64
 2   education_num   32561 non-null  int64
 3   capital_gain    32561 non-null  int64
 4   capital_loss    32561 non-null  int64
 5   hours_per_week  32561 non-null  int64
 6   income          32561 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.7+ MB

In [10]:
# split the data into x and y:
x = df.drop(['income'], axis=1)
y = df["income"]

In [11]:
x

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
32556   27  257302             12             0             0              38
32557   40  154374              9             0             0              40
32558   58  151910              9             0             0              40
32559   22  201490              9             0             0              20
32560   52  287927              9         15024             0              40

[32561 rows x 6 columns]

In [12]:
y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income, Length: 32561, dtype: object

- 𝐌𝐨𝐝𝐞𝐥 𝐓𝐫𝐚𝐢𝐧𝐢𝐠 𝐚𝐧𝐝 𝐄𝐯𝐚𝐥𝐮𝐚𝐭𝐢𝐨𝐧 :

In [13]:
# Create a adaboost model classifier :
Adabt = AdaBoostClassifier(n_estimators=100, learning_rate=1)

In [15]:
# split the data into train and test :
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.2, random_state=12)

In [17]:
# train adaboost model :
model = Adabt.fit(x_train, y_train)

In [19]:
# predict the model :
y_pred =  model.predict(x_test)

In [20]:
# check accuracy :
Accuracy = accuracy_score(y_test, y_pred)
print("𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 :", Accuracy)

𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 : 0.8374217820261814

- 𝐀𝐝𝐚𝐁𝐨𝐨𝐬𝐭 𝐮𝐬𝐢𝐧𝐠 𝐚𝐧𝐨𝐭𝐡𝐞𝐫 𝐁𝐚𝐬𝐞 𝐄𝐬𝐭𝐢𝐦𝐚𝐭𝐨𝐫 :

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
lr = LogisticRegression()

In [26]:
# train adaboost model using logistic regression as a base estimator :
ada = AdaBoostClassifier(n_estimators=100, estimator=lr, learning_rate=1)

In [27]:
# train adaboost model:
model = ada.fit(x_train, y_train)

In [28]:
# predict using new adaboost model :
y_pred = model.predict(x_test)

In [29]:
# Accuracy :
accuracy = accuracy_score(y_test, y_pred)
print("𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 :", accuracy)

𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 : 0.8117010249913624

- 𝐇𝐞𝐫𝐞 𝐰𝐞 𝐜𝐚𝐧 𝐬𝐞𝐞 𝐭𝐡𝐞 𝐧𝐞𝐰 𝐦𝐨𝐝𝐞𝐥 𝐩𝐞𝐫𝐟𝐨𝐫𝐦𝐞𝐝 𝐛𝐚𝐝 𝐭𝐡𝐚𝐧 𝐭𝐡𝐞 𝐩𝐫𝐞𝐯𝐢𝐨𝐮𝐬 𝐨𝐧𝐞 𝐬𝐨 𝐰𝐞 𝐜𝐚𝐧 𝐬𝐚𝐲 𝐭𝐡𝐚𝐭 𝐋𝐨𝐠𝐢𝐬𝐭𝐢𝐜 𝐑𝐞𝐠𝐫𝐞𝐬𝐬𝐢𝐨𝐧 𝐢𝐬 𝐧𝐨𝐭 𝐚 𝐠𝐨𝐨𝐝 𝐞𝐬𝐭𝐢𝐦𝐚𝐭𝐨𝐫 𝐟𝐨𝐫 𝐨𝐮𝐫 𝐩𝐫𝐞𝐝𝐢𝐜𝐭𝐢𝐨𝐧𝐬. 𝐖𝐞 𝐜𝐚𝐧 𝐚𝐥𝐬𝐨 𝐭𝐫𝐲 𝐝𝐢𝐟𝐟𝐞𝐫𝐞𝐧𝐭 𝐭𝐲𝐩𝐞𝐬 𝐨𝐟 𝐛𝐚𝐬𝐞 𝐞𝐬𝐭𝐢𝐦𝐚𝐭𝐨𝐫𝐬 𝐥𝐢𝐤𝐞 𝐝𝐞𝐜𝐢𝐬𝐢𝐨𝐧 𝐭𝐫𝐞𝐞𝐬, 𝐬𝐯𝐦, 𝐞𝐭𝐜

- 𝐀𝐝𝐚𝐁𝐨𝐨𝐬𝐭 𝐦𝐨𝐝𝐞𝐥 𝐮𝐬𝐢𝐧𝐠 𝐃𝐞𝐜𝐢𝐬𝐢𝐨𝐧 𝐓𝐫𝐞𝐞 :

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt = DecisionTreeClassifier()

In [32]:
# using Dt:
ada = AdaBoostClassifier(n_estimators=100, estimator=dt, learning_rate=1)

In [33]:
# train model using dt:
model = ada.fit(x_train, y_train)

In [34]:
# predict model using dt:
y_pred = model.predict(x_test)

In [35]:
# Accuracy of dt:
accuracy = accuracy_score(y_test, y_pred)
print("𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 :", accuracy)

𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 : 0.7648662136742294

- 𝐀𝐝𝐚𝐁𝐨𝐨𝐬𝐭 𝐦𝐨𝐝𝐞𝐥 𝐮𝐬𝐢𝐧𝐠 𝐒𝐕𝐌 :

In [36]:
from sklearn.svm import SVC

In [37]:
svm = SVC(probability=True)

In [38]:
ada = AdaBoostClassifier(n_estimators=100, estimator=svm, learning_rate=1)

In [39]:
# train model using svm:
model = ada.fit(x_train, y_train)

In [40]:
# predict model using svm:
y_pred = model.predict(x_test)

In [41]:
# accuarcy of svm:
accuracy = accuracy_score(y_test, y_pred)
print("𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 :", accuracy)

𝐌𝐨𝐝𝐞𝐥 𝐀𝐜𝐜𝐮𝐫𝐚𝐜𝐲 : 0.7598756190256823