# AdBoost Implemenatation. :

In [1]:
# Import Necessary library :
import pandas as pd

from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
# Import warnings :
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Load the datasets :
df = pd.read_csv("D:\Dataset files_ML/income_evaluation.csv")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Drop unnecessary features :
df.drop([' workclass',' education',' marital_status',' occupation',' relationship',' race',' sex',' native_country'], axis=1 ,inplace=True)

In [5]:
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income
0,39,77516,13,2174,0,40,<=50K
1,50,83311,13,0,0,13,<=50K
2,38,215646,9,0,0,40,<=50K
3,53,234721,7,0,0,40,<=50K
4,28,338409,13,0,0,40,<=50K

In [6]:
df.columns

Index(['age', ' fnlwgt', ' education_num', ' capital_gain', ' capital_loss',
       ' hours_per_week', ' income'],
      dtype='object')

In [7]:
# rename a columns as renmove extra spaces :
df.rename(columns={'age':'age', ' fnlwgt':'fnlwgt', ' education_num':'education_num',
                  ' capital_gain':"capital_gain", ' capital_loss':'capital_loss',
                  ' hours_per_week':"hours_per_week", ' income':"income"}, inplace=True)

In [8]:
df.columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   fnlwgt          32561 non-null  int64
 2   education_num   32561 non-null  int64
 3   capital_gain    32561 non-null  int64
 4   capital_loss    32561 non-null  int64
 5   hours_per_week  32561 non-null  int64
 6   income          32561 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.7+ MB

In [10]:
# split the data into x and y:
x = df.drop(['income'], axis=1)
y = df["income"]

In [11]:
x

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
32556   27  257302             12             0             0              38
32557   40  154374              9             0             0              40
32558   58  151910              9             0             0              40
32559   22  201490              9             0             0              20
32560   52  287927              9         15024             0              40

[32561 rows x 6 columns]

In [12]:
y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income, Length: 32561, dtype: object

- ğŒğ¨ğğğ¥ ğ“ğ«ğšğ¢ğ§ğ¢ğ  ğšğ§ğ ğ„ğ¯ğšğ¥ğ®ğšğ­ğ¢ğ¨ğ§ :

In [13]:
# Create a adaboost model classifier :
Adabt = AdaBoostClassifier(n_estimators=100, learning_rate=1)

In [15]:
# split the data into train and test :
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.2, random_state=12)

In [17]:
# train adaboost model :
model = Adabt.fit(x_train, y_train)

In [19]:
# predict the model :
y_pred =  model.predict(x_test)

In [20]:
# check accuracy :
Accuracy = accuracy_score(y_test, y_pred)
print("ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² :", Accuracy)

ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² : 0.8374217820261814

- ğ€ğğšğğ¨ğ¨ğ¬ğ­ ğ®ğ¬ğ¢ğ§ğ  ğšğ§ğ¨ğ­ğ¡ğğ« ğğšğ¬ğ ğ„ğ¬ğ­ğ¢ğ¦ğšğ­ğ¨ğ« :

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
lr = LogisticRegression()

In [26]:
# train adaboost model using logistic regression as a base estimator :
ada = AdaBoostClassifier(n_estimators=100, estimator=lr, learning_rate=1)

In [27]:
# train adaboost model:
model = ada.fit(x_train, y_train)

In [28]:
# predict using new adaboost model :
y_pred = model.predict(x_test)

In [29]:
# Accuracy :
accuracy = accuracy_score(y_test, y_pred)
print("ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² :", accuracy)

ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² : 0.8117010249913624

- ğ‡ğğ«ğ ğ°ğ ğœğšğ§ ğ¬ğğ ğ­ğ¡ğ ğ§ğğ° ğ¦ğ¨ğğğ¥ ğ©ğğ«ğŸğ¨ğ«ğ¦ğğ ğ›ğšğ ğ­ğ¡ğšğ§ ğ­ğ¡ğ ğ©ğ«ğğ¯ğ¢ğ¨ğ®ğ¬ ğ¨ğ§ğ ğ¬ğ¨ ğ°ğ ğœğšğ§ ğ¬ğšğ² ğ­ğ¡ğšğ­ ğ‹ğ¨ğ ğ¢ğ¬ğ­ğ¢ğœ ğ‘ğğ ğ«ğğ¬ğ¬ğ¢ğ¨ğ§ ğ¢ğ¬ ğ§ğ¨ğ­ ğš ğ ğ¨ğ¨ğ ğğ¬ğ­ğ¢ğ¦ğšğ­ğ¨ğ« ğŸğ¨ğ« ğ¨ğ®ğ« ğ©ğ«ğğğ¢ğœğ­ğ¢ğ¨ğ§ğ¬. ğ–ğ ğœğšğ§ ğšğ¥ğ¬ğ¨ ğ­ğ«ğ² ğğ¢ğŸğŸğğ«ğğ§ğ­ ğ­ğ²ğ©ğğ¬ ğ¨ğŸ ğ›ğšğ¬ğ ğğ¬ğ­ğ¢ğ¦ğšğ­ğ¨ğ«ğ¬ ğ¥ğ¢ğ¤ğ ğğğœğ¢ğ¬ğ¢ğ¨ğ§ ğ­ğ«ğğğ¬, ğ¬ğ¯ğ¦, ğğ­ğœ

- ğ€ğğšğğ¨ğ¨ğ¬ğ­ ğ¦ğ¨ğğğ¥ ğ®ğ¬ğ¢ğ§ğ  ğƒğğœğ¢ğ¬ğ¢ğ¨ğ§ ğ“ğ«ğğ :

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt = DecisionTreeClassifier()

In [32]:
# using Dt:
ada = AdaBoostClassifier(n_estimators=100, estimator=dt, learning_rate=1)

In [33]:
# train model using dt:
model = ada.fit(x_train, y_train)

In [34]:
# predict model using dt:
y_pred = model.predict(x_test)

In [35]:
# Accuracy of dt:
accuracy = accuracy_score(y_test, y_pred)
print("ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² :", accuracy)

ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² : 0.7648662136742294

- ğ€ğğšğğ¨ğ¨ğ¬ğ­ ğ¦ğ¨ğğğ¥ ğ®ğ¬ğ¢ğ§ğ  ğ’ğ•ğŒ :

In [36]:
from sklearn.svm import SVC

In [37]:
svm = SVC(probability=True)

In [38]:
ada = AdaBoostClassifier(n_estimators=100, estimator=svm, learning_rate=1)

In [39]:
# train model using svm:
model = ada.fit(x_train, y_train)

In [40]:
# predict model using svm:
y_pred = model.predict(x_test)

In [41]:
# accuarcy of svm:
accuracy = accuracy_score(y_test, y_pred)
print("ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² :", accuracy)

ğŒğ¨ğğğ¥ ğ€ğœğœğ®ğ«ğšğœğ² : 0.7598756190256823